/* src/LocationDetails.css */
.location-details {
    padding: 20px;
  }

  .location-details select,
  .location-details button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
  }

  .location-details button {
    background-color: #ffdd00; /* Yellow background */
    border: none;
    color: #000; /* Black text */
    cursor: pointer;
    border-radius: 5px;
  }

  .location-details button:hover {
    background-color: #ffc800; /* Darker yellow */
  }

  .location-details{
    padding: 20px;
  }
  .location-details select,
  .location-details button{
    display: block;
    margin-top: 10px;
    padding: 10px;
    font-size:16px;
  }

  .location-details button{
    background-color:#ffdd00;
    border: none;
    color: #000;
  }